:root{
    --main-bg-color: #FFFFFF;
    --additional-color: #edf7fa;
    --button-bg: #ff6464;
    --font-color: #22243d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%; /* Важливо для flex-контейнера */
}

html, a, li, button, p{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: var(--font-color);
}

.animation--container{
    position: fixed;
    width: 100%;
    height: 75%;
    overflow: hidden;
}

.animation--zubat{
    position: absolute;
    opacity: 0;
    width: 50px; /* Розмір круга */
    height: 50px; /* Розмір круга */
    border-radius: 50%; /* Робить фон круглим */
    background-image: url(https://media.tenor.com/v35v-zbtwnUAAAAi/confetti.gif);
    background-size: 100px 100px;
    background-repeat: no-repeat; /* Забороняє повторення фону */
    background-position: center;
}

.animation--zubat--first{
    animation: fly-curve1 5s linear  infinite;
    
}

.animation--zubat--second{
    animation: fly-curve2 5s linear infinite;
    animation-delay: 2.5s;
}

/* Криволінійний рух для першої пташки */
@keyframes fly-curve1 {
    0% {
        transform: translate(100vw, 65vh) rotate(0deg); /* Початкова позиція */
        opacity: 0;
    }
    10% {
        transform: translate(90vw, 63vh) rotate(15deg); /* Проміжна точка */
        opacity: 1;
        background-size: 400px 400px;
    }
    20% {
        transform: translate(80vw, 60vh) rotate(45deg); /* Проміжна точка */
        opacity: 1;
    }
    30% {
        transform: translate(70vw, 45vh) rotate(45deg); /* Проміжна точка */
        opacity: 1;
        background-size: 400px 400px;
    }
    40% {
        transform: translate(65vw, 25vh) rotate(45deg); /* Проміжна точка */
        opacity: 1;
    }
    50% {
        transform: translate(55vw, 15vh) rotate(0deg); /* Проміжна точка */
        opacity: 1;
        background-size: 400px 400px;
    }
    100% {
        transform: translate(0vw, 5vh) rotate(0deg); /* Кінцева позиція */
        opacity: 1;
    }
}

/* Криволінійний рух для другої пташки */
@keyframes fly-curve2 {
    0% {
        transform: translate(0vw, 70vh) rotate(0deg); /* Початкова позиція */
        opacity: 0;
    }
    1% {
        transform: translate(0vw, 70vh) rotate(0deg); /* Початкова позиція */
        opacity: 1;
        background-size: 400px 400px;
    }
    25% {
        transform: translate(30vw, 67vh) rotate(-15deg); /* Проміжна точка */
        opacity: 1;
    }
    50% {
        transform: translate(60vw, 65vh) rotate(-15deg); /* Проміжна точка */
        opacity: 1;
        background-size: 400px 400px;
    }
    75% {
        transform: translate(87vw, 45vh) rotate(-25deg); /* Проміжна точка */
        opacity: 1;
    }
    100% {
        transform: translate(100vw, 5vh) rotate(-25deg); /* Кінцева точка */
        opacity: 1;
        background-size: 400px 400px;
    }
}

.navGrid{
    list-style: none;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 2fr 2fr 2fr 1fr;
    padding: 1em 0em;
}

.navText{
    text-align: center;
}

.hoverText:hover{
    color: var(--button-bg);
}

.linkOnWork{
    font-size: 20px;
}

.linkOnWork:hover{
    color: var(--button-bg);
}


.footerPosition{
    display: flex;
    flex-direction: column;
    min-height: 93vh;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainOnMainPage {
    max-width: 1200px;
    height: 80vh;
    width: 73em;
    margin: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

.separateLeft{
    grid-column: 2/3;
}

.separateRight{
    grid-column: 4/5;
}

.worksSection{
    width: 73em;

}

.workBlock{
    height: 10em;
    padding: 1em 0em;
    display: flex;
    gap: 2vh;
}

footer{
    text-align: center;
    padding: 2em;
    background-color: var(--additional-color);
}

h1{
    padding-top: 2em;
    padding-bottom: 1em;
    font-size: 44px;
}

h2{
    padding: 2em 0em;
    font-size: 34px;
}

hr{
    margin-top: 1em;
    border: 1px rgb(189, 189, 189) solid;
}

.picterOfWork{
    width: 40vh;
    border-radius: 5px;
    border: 1px solid #05a8cc;
}

.picterOfWork:hover{
    border: 1px solid var(--button-bg);
}

#indexPageSection{
    padding-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#my_photo{
    width: 20%;
    height: 20%;
    border-radius: 50%;
    box-shadow: 5px 5px 0px 5px var(--additional-color);
}

.redButton{
    padding: 1em;
    background-color: #ff6464;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    border: none;
    color: var(--main-bg-color);
    cursor: pointer;
}

.activeTextColor{
    color: var(--button-bg);
}
